@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);/*font-family: 'Oswald', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);/*font-family: 'Kaushan Script', cursive;*/

/*ESTILOS GENERALES*/
:root {
  --color-general-text: #333;
  --color-backgroud-navbar: #f67130;
  --color-text-navbar: white;
  --color-hover-navbar: #ef324e;

  --color-border-headers: #eee;

  --color-background-btn-success: #5cb85c;
  --color-border-btn-success: #4cae4c;
  --color-background-btn-success-hover: #449d44;
  --color-border-btn-success-hover: #398439;

  --color-background-btn-delete: #d9534f;
  --color-border-btn-delete: #d43f3a;
  --color-background-btn-delete-hover: #c9302c;
  --color-border-btn-delete-hover: #ac2925;

  --color-border-post: #ddd;
  --color-name-user: #337ab7;

  --color-text-black: #555;
  --color-text-nickname: #969393;
  --color-number-stats: green;

  --color-border-textarea: #ccc;
  --color-border-textarea-focus: #66afe9;

}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}


html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}


body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-general-text);
}

.layout{
  display: grid;
  grid-template-areas:
      "nav nav "
      "content aside";
  grid-template-rows: 60px auto auto;
  grid-template-columns: 70% 30%;
  width: 100%;
  height: 100%;
  max-height: 80rem;
}

.layout.error {
  grid-template-columns: 100% !important;
}

.layout-container {
  display: flex;
}

/*ESTILOS NAVBAR*/
.layout__navbar{
  width: 100%;
  grid-area: nav;
  background-color: var(--color-backgroud-navbar);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  height: 5.3rem;
  background-image: linear-gradient(180deg, #d5c346 0, #dcba3c 8.33%, #e2b033 16.67%, #e8a52b 25%, #ed9824 33.33%, #f08b20 41.67%, #f37b1f 50%, #f56a21 58.33%, #f75827 66.67%, #f9442f 75%, #fa2b38 83.33%, #fa0042 91.67%, #f9004e 100%);
  position: fixed;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.5);
 
}

.layout__navbar *{
  color: var(--color-text-navbar);
}

.navbar__title{
  font-size: 1.8rem;
  padding: 1.8rem;
}

.navbar__container-lists{
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  
  
}

.container-lists__menu-list{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-list__link{
  padding: 1.8rem;
}

.menu-list__title{
  padding: 0.5rem;
}

.navbar__title:hover, .menu-list__link:hover,
.list-end__link:hover, .list-end__item:first-child:hover{
  background-color: var(--color-hover-navbar);
}

.container-lists__list-end{
  display: flex;
  align-items: center;
}

.list-end__item:first-child{
  padding: 0.6rem;
}

.list-end__img{
  width: 4rem;
  height: 4rem;
  border-radius: 3.2rem;
}

.list-end__link{
  padding: 1.8rem;
}

.list-end__name{
  padding: 0.5rem;
}

/*ESTILOS DE CONTENIDO*/
.layout__content{
  flex: 1;
  grid-area: content;
  padding: 0 1.5rem;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.content__login{
  margin-top: 4.5rem;
}

.content__header, .aside__header{
  width: 100%;
  border-bottom: 1px solid var(--color-border-headers);
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Centrar horizontalmente */
}

.content__title, .aside__title{
  font-size: 3.5rem;
  margin-right: 1rem;
  text-shadow: 1px 1px 1px rgb(11, 10, 10);

}

.content__button{
  background-color: var(--color-background-btn-success);
  color: var(--color-text-navbar);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border-btn-success);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  line-height: 1.5;
  cursor: pointer;
}


.content__button:hover, .content__btn-more-post:hover {
  background-color: var(--color-background-btn-success-hover);
  border-color: var(--color-border-btn-success-hover);
}


.content__posts{
  width: 100%;
}


.posts__post{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-border-post);
  padding: 1.5rem;
}


.post__container{
  display: flex;
  flex-direction: row;
}

.post__image-user{
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100rem;
  margin-right: 1.5rem;
  overflow: hidden;
}

.post__user-image{
  width: 100%;
  height: 100%;
  border-radius: 3.2rem;
}

.post__user-info{
  margin-top: 1rem;
}

/* Estilos para las imágenes de las publicaciones*/

.post__user-image, .post__image-publication {
  width: 100%; /* Ajusta al 100% del contenedor padre */
  height: auto; /* Mantiene la proporción de la imagen */
  max-width: 80%; /* Ajusta el tamaño máximo de la imagen en un 50% del contenedor */
  max-height: 300px; /* Máxima altura de la imagen */
  object-fit: cover; /* Para mantener la proporción */
}

.publication-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.publication-detail-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.publication-detail-profile {
  text-align: center;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.publication-detail-content {
  width: 80%;
  margin: 20px 0;
  text-align: center;
}

.publication-detail-user-info {
  text-align: left;
}

.publication-detail-user-info h2 {
  margin: 0;
  font-size: 1.8rem;
}

.publication-image {
  width: 80%; /* 80% del ancho del contenedor padre */
  display: block;
  margin: 0 auto; /* Centrar la imagen horizontalmente */
  height: auto; /* Mantener la proporción de la imagen */
}

.publication-text {
  margin-bottom: 20px; /* Ajusta el valor según lo que necesites */
}

.user-nick {
  font-size: 1.2rem;
  color: gray;
}

.btn-back {
  background-color: #5cb85c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-back:hover {
  background-color: #449d44;
}


.user-info__name{
  color: var(--color-name-user);
}

.user-info__create-date{
  color: gray;
}

.post__content{
  margin: 1rem 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.post__buttons{
  display: flex;
  align-items: center;

}

.post__button{
  color: var(--color-text-navbar);
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  background-color: var(--color-background-btn-delete);
  border-color: var(--color-border-btn-delete);
}

.post__button--green{
  background-color: var(--color-background-btn-success);
  border-color: var(--color-border-btn-success);
}
.post__button.post__button--green:hover{
  background-color: var(--color-background-btn-success-hover);
  border-color: var(--color-border-btn-success-hover);
}

.post__button:hover{
  background-color: var(--color-background-btn-delete-hover);
  border-color: var(--color-border-btn-delete-hover);
}

.content__container-btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

.content__btn-more-post{
  background-color: var(--color-background-btn-success);
  color: var(--color-text-navbar);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border-btn-success);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  line-height: 1.5;
  cursor: pointer;
  font-size: 1.4rem;
}

/*ESTILOS BARRA LATERAL*/
.layout__aside{
  display: flex;
  flex-direction: column;
  grid-area: aside;
  margin-right: 2rem;
  
}

.aside__container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.aside__profile-info{
  border: 1px solid var(--color-border-post);
  padding: 2.5rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
}

.profile-info__general-info{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.general-info__container-avatar{
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100rem;
  margin-right: 1.5rem;
  overflow: hidden;
}

.img-avatar-nav{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  overflow: hidden;
}

.container-avatar__img{
  height: 100%;
}

.container-names__name{
  color: var( --color-text-black);
  font-size: 1.7rem;
}

.container-names__nickname{
  color: var( --color-text-nickname);
  font-size: 1.7rem;
}

.profile-info__stats{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--color-border-headers);
}

.stats__following:first-child{
  padding-left: 0.6rem;
}

.stats__following{
  margin-top: 1rem;
  padding: 0 1.8rem;
  border-right: 2px solid var(--color-border-headers);
  text-align: center;
}



.following__title{
  display: block;
  font-weight: bold;
  color: var( --color-text-black);
}

.following__number{
  font-weight: bold;
  color: var(--color-number-stats);
}

.following__link:hover >  .following__number{
  color: var(--color-hover-navbar);
}


.aside__container-form{
  width: 100%;
  margin-top: 20px;
  border: 1px solid var(--color-border-post);
  padding: 2.5rem;
  border-radius: 0.4rem;
}

.container-form__form-post{
  width: 100%;
  max-width: 100%;
}

form{
  max-width: 100%;
}

.aside__container-form form{
  width: 100%;
  max-width: 100%;
}

.form-post__inputs, 
input[type="text"],
input[type="email"],
input[type="password"],
textarea{
  margin-bottom: 1rem;
}

.form-post__label, label{
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.form-post__textarea,
input[type="text"],
input[type="email"],
input[type="password"],
textarea{
  display: block;
  width: 100%;
  height: auto;
  padding: 0.6rem 1.2rem;
  font-size: 14px;
  color: var( --color-text-black);
  border: 1px solid var(--color-border-textarea);
  border-radius: 4px;
  outline: none;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: all ease-in-out 150ms;
}

.form-post__textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus
textarea:focus{
  border-color: var(--color-border-textarea-focus);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.form-post__image{
  width: 100%;
}


.form-post__btn-submit,
input[type="submit"],
button{
  background-color: var(--color-background-btn-success);
  color: var(--color-text-navbar) !important;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border-btn-success);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  line-height: 1.5;
  cursor: pointer;
  font-size: 1.4rem;
  margin: 4px;
}

.alert{
  width: 50%;
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.alert-success{
  background-color: #5cb85c;
  border: 1px solid #0c8e0c;
  color: white;
}

.alert-danger{
  background-color: #f74c47;
  border: 1px solid #ff192c;
  color: white;
}

.form-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px; /* Limita el ancho del formulario */
  padding: 2rem; /* Agrega algo de padding alrededor del formulario */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: agrega una sombra */
  border-radius: 10px; /* Opcional: redondea las esquinas */
  background-color: #fff; /* Opcional: establece un color de fondo */
  margin: 0 auto; /* Centrar horizontalmente */
  box-shadow: 0 0 20px hsla(157, 97%, 48%, 0.708);

}

.no-following-message, .no-followers-message {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.highlight-gente {
  color: var(--color-name-user);
  font-size: 2rem;
  font-weight: bold;
}

/*/////////////ESTILOS DEL HOME ///////////////////////*/

.logofund {
  width: 220px; 
  height:200px;
 

}


.logofundsmall {

  width: 55px; 
  height:55px;
  
}


.imagesSection {

  width: 249px; 
  height: 161px;
  box-shadow: 0 0 20px #000;
  border-radius: 15px 50px
  
}

#image_adopta {

  box-shadow: 0 0 20px #000;
  border-radius: 15px ;
} 

.bienvenida {
text-align: center;
color: #000;
text-shadow: 1px 1px 2px black;
font-size:x-large
}
.aviso {
text-shadow: 1px 1px 2px black;
color: hsl(39, 94%, 50%);
}

.panel {

width: 300px;
justify-content: center;
background-color: #4cae4c;
color:#ffffff;
border-radius: 1px 30px 30px 1px;

}
.panel2 {
width: 300px;
justify-content: center;
background-color: hsl(279, 93%, 48%);
color:#ffffff;
border-radius: 1px 30px 30px 1px;

}

.panel3 {

width: 300px;
justify-content: center;
background-color: hwb(212 5% 13%);
color:#ffffff;
border-radius: 1px 30px 30px 1px;
}

.panel4 {

width: 300px;
justify-content: center;
background-color: hwb(30 5% 9%);
color:#ffffff;
border-radius: 1px 30px 30px 1px;
}


.areas{
display: flex;
}

.areasfundacion {

/*border: #337ab7 solid;*/
padding: 5px 10px;


}

.button{
display: inline-block;
font-family: Arial, Helvetica, sans-serif ; 
font-size: 13px; 
line-height: 16px;
padding:7px 15px ;
background:#ff2929; 
color:#fff ; 
font-weight:bold;
position:relative;
border-radius: 15px 50px;

}

.seccion_interes {
text-shadow: 1px 1px 2px black;
}



.texto {
font-family: 'Oswald', sans-serif;
font-size: medium;

}

.bounce-box {

margin-left: 10px;
margin-top: 0px;
margin-right: 0px;
color: hsl(210, 11%, 96%);
text-align: justify;
padding: 0px 40px 10px 10px ;
align-content: center;
width: 310px;
height: 290px;
text-shadow: 1px 1px 2px black;
border-radius: 15px 50px 30px 5px;

}

.logo_form {
width: 270px;
height: 270px;

}

#fondo_areas {
background-image: url("../images/fundacion.jpg");
box-shadow: 0 0 20px #000;
}

.sectionone_form {
display: flex;
flex-direction: row;  
align-items: center;
justify-content: center;
width: 500px;


}

.sectiontwo_form {
display: flex;
flex-direction: row;  
justify-content:space-evenly;
padding: 1px 1px;
margin: 5px 5px ;
width: 500px;

}

.form_animales{
max-width: 500px;
}

.inputs_form {
display: flex;
flex-direction: column;  
justify-content: center;
align-items: center;
margin:10px 10px;
padding: 10px;

}

.imagen_top {
width: 70px;
height: 70px;
box-shadow: 0 0 20px #000;
border-radius: 20px 20px 20px 20px ;

}

.submitbtn {
display: flex;
align-content: center;
justify-content: center;
border:#398439 solid ;
background-color: #5cb85c  ;
border-radius: 10px;
}

.rescatados {
text-align: center;
width: 100%;
}


/************************HOME.CSS************************************/
.main_home{
	width:100%;
	height: auto; 
	min-height:100%;
	background: url(../images/bg-main.jpg) 0 0 repeat;

	}

  /*********************************content*************************************/
#content{
 
  /*border: hsl(258, 89%, 40%) solid ;*/
	width: auto; 
  height: auto; 
}

.container_16 {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;

}

.container_16 .box1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height:fit-content;
  padding: 20px 20px;

}


.container_16 .box2{

  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height:fit-content;
  padding: 20px 20px;
  color:#66afe9

}

.container_16 .box3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  width: 50%;
  height: auto;
  padding: 20px  20px;
  margin: 20 20 20 20;
}

#buttonsmenuanimals {
 display: flex;
 align-items: center;
 justify-content:space-between;
 
 }

 #buttonanimals {
  box-shadow: 0 0 10px #000;
  border-radius: 15px 50px ;
  background-color: #f75827;
  width: 85px;;
 }

 #colour__title--home {
 color: black;
 } 

 .buttons__direction--right {
  width: 80px;
  border-radius: 15px 50px 50px 15px;
  background-color: #f75827;
  box-shadow: 0 0 10px #000;
 }

 .buttons__direction--left {
  width: 80px;
  border-radius: 50px 15px 15px 50px;
  background-color: #f75827;
  box-shadow: 0 0 10px #000;

 }

 .card-body-sectionone {
display: flex;
align-items: center;
justify-content: space-between;

}
 
.buttonsCards {
  width:10px;

}
 
.card-buttons{
  display: flex;
  flex-direction: column;
  height: 55px;
  
}

.data_cards {
  display: flex;
  flex-direction: column;
  justify-items:left;
 }

#button_update ,  #button_details {
  background-color: #dbcd72 ;

}

#button_delete {
  background-color: #f3787e ;
}

/*Estilos para el Modal en las Tarjetas de Animales rescatados*/
.overlay , .overlay_update {
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: 'center';
  z-index: 1000;
  
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 200px;
}

.modal_update {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 170px;
}

.modal_button_yes {
  background-color:#f3787e ;
  width: 50px;
}
.modal_button_not {
  width: 50px;
}

.eliminated_register {
  text-shadow: 1px 1px 1px hsl(0, 98%, 48%);
  text-align: center;
}


.testupdatecol {
  position: absolute;
  top: 5; /* Ajusta para posicionar la sección en el lugar adecuado */
  left: 0;
  width: 67vw; /* Ancho completo de la ventana */
  height:100%;
  background-color: #fbfcfc; /* Cambia el color de fondo según tu preferencia */
  z-index: 1000; /* Asegúrate de que esté encima del layout si es necesario */
  padding: 2rem;
  padding-top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items:center
}
